/* Custom properties */
:root {

    /* Colors */
    --primaryColor: hsl(245, 75%, 52%);
    --Dark-blue: hsl(223, 47%, 23%);
    --brightBlue: hsl(225, 100%, 94%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);

    /* Typography */
}