/* # Properties order

1. Positioning.
2. Box Model.
3. Text.
4. Visuals.
5. Miscellaneous. */

/* ····· Custom properties ····· */
:root {

    /* Typography */
    --fonts: 'Red Hat Display', sans-serif;

    /* Colors */
    --primaryColor: hsl(245, 75%, 52%);
    --Dark-blue: hsl(223, 47%, 23%);
    --brightBlue: hsl(225, 100%, 94%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --buttonHover: #766CF1;
}

/* ····· Globals ····· */
* {
    box-sizing: border-box;
    font-family: var(--fonts);
}

body {
    margin: 0;
    height: 100vh;
    color: var(--Dark-blue)
}

img {
    width: 100%;
}

h1 {
    color: var(--Dark-blue);
    text-align: center;
    font-size: 24px;
}

/* ····· Utilities ····· */
.container {
    margin: 0 1.5rem
}

/* ····· BEM ····· */

/*** Background ***/
.background {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 100%;
    
    background-color: var(--brightBlue);
}
@media screen and (min-width: 1280px) {
    .background {
        background-image: url("../images/pattern-background-desktop.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }
}

/*** Card ***/
.card {
    max-width: 25rem;
    border-radius: 20px;
    
    background-color: #fff;
    overflow: hidden;
    color:var(--Desaturated-blue);
}
/** Card Main **/
.card__main p {
    text-align: center;
}

/** Card Plan **/
.card__plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 1rem;
    margin: 2rem auto;
    width: 90%;
    
    background-color: var(--Very-pale-blue);
    border-radius: 10px;
}
.card__plan__text {
    display: flex;
    flex-direction: column;
}
.card__plan__text p {
    margin: 0;
}
.card__plan a {
    font-size: 14px;
    color: var(--primaryColor);
}
.card__plan a:hover{
    text-decoration: none;
    color: var(--buttonHover);
}
.card__plan span {
    color:var(--Dark-blue);
    font-weight: bold;
}
.card__plan img {
    width: 20%;
}

/** Card Buttons **/
.card__payment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card__button {
    width: 85%;
    padding: 1rem;
    border-radius: 10px;

    text-align: center;

    color: #fff;
    background-color: var(--primaryColor);
}
.card__button:hover {
    background-color: var(--buttonHover);
}
.card__button__cancel {
    margin: 1.8rem 0;
    color: inherit;
}
.card__button__cancel:hover {
    color: black;
}

.card__button__cancel,
.card__button {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

/*** Footer ***/
.attribution p{
    text-align: center;
}

@media screen and (min-width: 1280px) {
    .attribution p {
        display: inline;
    }
}